.content {
    padding: 50pt;
 }

h1, h3 {
    color: #66C;
    text-align: center;

}

h2 {
    color: #66C;
    text-align: left;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

img {
    float: center;
    margin-right:15px;
}

.date {
    font-weight: bold;
    }
